body {
  margin: 0;
  color: #444;
}

h1 {
  margin: 0;
}

main {
  width: 800px;
  padding: 20px;
  border: 4px solid #444;
  margin: 30px auto;
  background-color: #e9e9e9;
}

img {
  /* sticks to the first ancestor that has a scroll bar
  still in normal flow */

  position: sticky;

  /* The top, left, bottom, right properties tell the element WHEN to start
  sticking, and do not actually move the element around */

  top: 0;
}