body {
  margin: 0;
  color: #0011c2;
}

h1 {
  margin: 0;
}

main {
  width: 800px;
  padding: 20px;
  border: 4px solid #0011c2;
  margin: 30px auto;
  background-color: #c5cce3;
}

img {
  /* allows us to move the image 'relative' to it's original position */
  /* also keeps in the image 'normal flow' */
  position: relative;
  /* It respects all the following properties, inlcuding left and right */
  top: 165px;
  left: 200px;
  z-index: -1;
}